.nav-bar{
    position:sticky;
    top:0;
    left:0;
    display:flex;
    justify-content:flex-end;
    z-index: 5;
    
}

.nav-bar .nav-item{
    margin: 10px;
    padding:10px;
    color:white;
    font-size:1.3rem;
    position:relative;
    transition:0.5s;
    top:0px;
    z-index:6


}

.nav-bar .nav-item:hover{
    top:8px;
    letter-spacing:3px;
    font-weight: bold;

    

}

.quote-holder{
    max-width:50%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}


.quote{
    font-style: italic;
    font-size:1.4rem;
    text-align:center;
}
.quote p{
    font-weight: 900;
}

.info-holder{
    height:60vh;
    margin-left: 50px;
    font-size:1.3rem;
}

.info-holder div{
    display:flex;
    align-items:center;
    justify-content:center;

    
}

.info-holder div p{
    max-width:60%;
    margin:30px
}

.info-holder:nth-child(2n) div{
    flex-direction: row-reverse;

}